        body {
            margin: 0 auto;
            padding: 0;
            background-color: darkseagreen;
            font-family: 'Benton Sans', sans-serif;
            font-weight: 400;
        }
        
        .header {
            width: 100%;
            height: 300px;
            background-color: white;
            margin: auto;
            margin-top: 0;
        }
        
        h1 {
            color: slategray;
            text-transform: uppercase;
            font-size: 50px;
            letter-spacing: 2px;
            font-weight: 700;
            text-align: center;
              
        }
        
        h5 {
            font-family: 'Benton Sans', sans-serif;
            font-size: 20px;
            color: slategray;
            font-weight: 100;
            text-align: center;
            text-transform: uppercase;
        }
    
        .project {
            margin-left: 100px;
            color: white;
            margin-top: 100px;
        }
        
        h3 {
            margin-top: 50px;
            text-transform: uppercase;
            font-weight: 700;
            word-spacing: 2px;
        }
        
        a {
            text-decoration: none;
            color: white;
        }

a:visited {
    color: slategray;
            text-decoration: underline;
}
