        body {
            padding: 0;
            margin: 50px 0px;
            background-color: lightcoral;
            font-family: 'Questrial', sans-serif;
        }

        .container {
            width: 50%;
            height: 80%;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 5%;
            border-radius: 2.5%;
        }

        .header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }


        .header 1 {
            color: lightblue;
            font-size: 52px;
            font-weight: normal;
            margin: 0 auto;
        }

        .header 5 {
            text-align: right;
            position: relative;
            top: -50px;
        }

        .header 3,
        ul {
            position: relative;
            top: -30px;
        }

        a {
            color: darkgrey;
            text-decoration: none;
        }

        a:visited {
            color: cadetblue;
        }
