/***General Styling***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-pt-condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #191970;                 /*navy blue*/
}

.top-background {
    height: 760px;
    width: 100%;
    position: absolute;
    background-color: #FFFF99;      /*light yellow*/
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}

/***Body Copy Font***/
.bodoni-regular {
    font-family: "bodoni-urw", serif;
    font-weight: normal;
    font-style: normal;    
}

.bodoni-bold {
    font-family: "bodoni-urw", serif;
    font-weight: 700;
    font-style: normal;
}

/***Font Size***/
h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

p1, p2 {
    font-size: 12px;
    font-family: "bodoni-urw", serif;
    
}

/***Vertical Line***/
.vertical-line {
    border-left: thick solid #191970;       /*navy blue*/
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 115px;
    z-index: 150;
}

/***Top Section***/
.top-section {
    margin-left: auto;
    margin-right: auto;
    height: 760px;
    width: 768px;
    background-color: #FFFF99;      /*light yellow*/
    display: flex;
    position: relative;
}

.header {
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 0;
}

.top-left {
    position: relative;
    display: flex;
    height: 790px;
    width: 120px;
}

.vertical-text {
    transform: rotate(270deg);
    font-size: 50px;
    height: 105px;
    width: 877px;
    position: absolute;
    top: 260px;
    left: -1018px;   
}

.letter-container {
    display: flex;
    position: absolute;
    height: 790px;
    width: 648px;
}

h1 {
    font-size: 900px;
    font-weight: normal;
    position: absolute;
    top: -200px;
    left: 200px;
}

.analysis {
    position: absolute;
    top: -16px;
    left: 108px;
    z-index: 20;
}

/***Bottom Section***/
.bottom-section {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 234px;
    background-color: #FFFFFF;      /*white*/
    display: flex;
    position: relative;
}

.name-typeface {
    position: relative;
    display: flex;
    height: 234px;
    width: 120px;
}

p {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 30px;
    width: 62px;
    height: 50px;
    top: 195px;
    left: 39px;
}

p3 {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 30px;
    width: 62px;
    height: 50px;
    top: 55px;
    left: 39px;
}

#button {
    background-color: #191970;
    color: white;
    border: none;
    text-align: center;
    width: 55px;
    height: 55px;
    display: inline-block;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 126px;
    left: 39px;
    padding: 15px;
    z-index: 30;
}

#button:hover {
    background-color: white;
    color: #191970;
    transition-duration: 0.4s;
    cursor: pointer;
}

.paragraph-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 234px;
    width: 648px;
}

.p1 {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 20px;
    left: 29px;
}

.p2 {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 20px;
    left: 240px;
}

.photo {
    height: 105px;
    width: 105px;
    position: absolute;
    top: 60px;
    left: 455px;
}

.about {
    position: absolute;
    width: 106px;
    top: 170px;
    left: 464px;
}

.vertical-text-sources {
    transform: rotate(-90deg);
    position: absolute;
    width: 200px;
    height: 35px;
    top: 115px;
    left: 490px;
}

ul.p {
    list-style-type: circle;
    font-family: "bodoni-urw", serif;
    font-size: 8px;
}