/*General*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    background-color: white;
    margin: 2em;
    color: #707070;
}


/*Header*/
.title {
    text-align: center;
}

.title h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: bold;
}

.title p {
    font-size: 2.25em;
    font-weight: bold;
}

.summary {
    text-align: center;
}

.contact {
    text-align: center;
    color: white;
}


/*Headers & Text*/
header {
    background-color: #B86B77;
    width: 100%;
    padding: 5em;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    color: white;
}

h2 {
    color: #B86B77;
    font-size: 1.25em;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-bottom: .5em;
    border-bottom: .125em solid grey;
}

h3 {
    font-size: 1em;
}

h5 {
    font-size: .75em;
}

header p {
    color: white;
    font-size: 1em;
}

p {
    margin-top: 0;
    font-size: .75em;
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #707070;
}

.button {
    background-color: white;
    border: none;
    color: #B86B77;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    margin: 4px 4px;
    
}


/*Body*/
.right-column h2 {
    margin-bottom: .75em;

}

.right-column p {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.observer,
.gwi,
.snite,
.ndigi {
    margin-bottom: 3em;
}


/*Bullets*/
ul {
    color: #707070;
    margin-left: 2em;
    font-size: 1em;
    font-weight: 300;
    margin-top: .3em;
}


/*Links*/
a:link {
    color: #707070;
    text-decoration: none;
}

a:visited {
    color: #B86B77;
    text-decoration: none;
}

a:hover {
    color: #B86B77;
    text-decoration: none;
}

a:active {
    color: #08192F;
    text-decoration: none;
}


/*Media Queries\*/

@media only screen and (min-width: 1px) and (max-width: 499px) {
    header {
        background-color: #B86B77;
        width: 100%;
        padding: 5em;
    }

    header h1 {
        text-align: left;
    }

    header p {
        text-align: left;
        font-size: 1em;
    }

    .summary {
        text-align: left;
    }

    .contact {
        text-align: left;
    }
    
    .body {
        align-items: left;
    }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    header {
        background-color: #08192F;
        width: 100%;
        padding: 5em;
    }

    h2 {
        color: #08192F;
        font-size: 1.25em;
        margin-top: 5em;
        margin-bottom: 3em;
        padding-bottom: .5em;
        border-bottom: .125em solid grey;
    }

    a:visited {
        color: #08192F;
        text-decoration: none;
    }

    a:hover {
        color: #08192F;
        text-decoration: none;
    }

    a:active {
        color: #B86B77;
        text-decoration: none;
    }
}

@media only screen and (min-width: 901px) {
    .info {
        display: flex;
    }

    .title {
        text-align: center;
    }

    .summary {
        text-align: center;
    }

    .right-column {
        max-width: 30em;
        margin-left: 3em;
        margin-right: 3em;
    }

    .left-column {
        margin-left: 2em;

    }

    .header {
        margin-left: 3em;
        margin-top: 5em;
    }

    body {
        align-items: center;
    }
}

/*Fonts and Colors Used*/

/*Benton Sans Light*/
/*font-family: benton-sans, sans-serif;
font-style: normal;
font-weight: 300;
*/

/*Benton Sans Medium*/
/*font-family: benton-sans, sans-serif;
font-style: normal;
font-weight: 600;*/

/*Benton Sans Bold*/
/*font-family: benton-sans, sans-serif;
font-style: normal;
font-weight: 700;*/

/*Pink #B86B77*/
/*Grey Dark #707070*/
/*Navy Blue #08192F */