/*****general*****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    background-color: rgb(230 231 232);
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}

.astro {
    position: absolute;
    width: 300px;
    height: auto;
    top: -45px;
    left: 480px;
}

/*****Header*****/

.header {
    position: relative;
    width: auto;
    margin-top: 100px;
}

/*****headers & text*****/

h1 {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.acm {
    font-size: 35px;
}

h2 {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(242 201 22);
    font-size: 25px;
    margin-bottom: 0px;
    text-align: center;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

/*****background*****/

.background {
    position: absolute;
    width: 768px;
    height: 1024px;
    background-color: white;
    z-index: -1;
    background-color: rgb(230 231 232);
}

.milk {
    transform: rotate(90deg);
    position: absolute;
    top: 150px;
    left: -220px;
    width: 1200px;
    height: auto;
    border: none;
    border-radius: 10px;
}

/*****buttons*****/

#button {
    position: relative;
    padding: 10px 20px;
    background: white;
    color: rgb(40 39 64);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    z-index: 1000;
}

#button.level1 {
    top: 50px;

}

#button.level2 {
    top: 50px;
}

#button.level3 {
    top: 50px;
}

#button.playagain {
    top: 50px;
}

#button.more {
    top: 830px;
}

#button.rules {
    top: 830px;
}

#button.aboutb {
    top: 830px;
}

#button:hover {
    text-shadow: 2px 2px 5px rgb(40 39 64);
    cursor: pointer;
}

#button:focus {
    background-color: white;
    outline: rgb(40 39 64);
}

.top {
    width: 768px;
    text-align: center;
    margin: auto;
}

.bottom {
    width: 768px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

/*****the game*****/
/*don't change//it's working now*/

.game-container {
    display: flex;
    /*    align-items: center;*/
    height: 50px;
    width: 768px;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 15px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    /*    top: 100px;*/
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 3px solid rgb(218 95 62);
    backface-visibility: hidden;
    /*    display: block;*/
    padding: 15px 15px 15px 15px;
}

.back {
    background-color: rgb(218, 218, 218);
}

.front {
    transform: rotateY(180deg);
}

/*Modal Content*/
.trigger {
    position: relative;
    padding: 10px 20px;
    background: white;
    color: rgb(40 39 64);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    z-index: 1000;
    top: 830px;
}

.trigger:hover {
    text-shadow: 2px 2px 5px rgb(40 39 64);
    cursor: pointer;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    /*
    width: 100%;
    height: 100%;
*/
    width: 768px;
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1500;
}

.modal-content {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40 39 64);
    padding: 1rem 1.5rem;
    width: 500px;
    height: auto;
    border-radius: 0.5rem;
    z-index: 1500;
}

li {
    color: white;
    text-align: center;
    font-size: 24px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
}

.close-button:hover {
    background-color: rgb(242 201 22);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}