/*************General************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin-top: 15px;
}

/*************Images************/
/*image next to main body copy*/
.poster {
    margin-top: 25px;
    padding: 15px 10px;
    width: 100%;
}

/*moodboards*/
.moodboard-p3 {
    justify-content: space-between;
    margin: 0 auto;
}

.mb1, .mb2 {
    width: 100%;
    height: auto;
    padding: 20px;
}

/*drafts*/
.draftsp3 {
    justify-content: space-between;
    margin: 0 auto;
}

.drafts {
    width: 100%;
    height: auto;
    padding: 20px;
}


.row {
    justify-content: space-between;
    margin: 0 auto;
}

.original, .redesign {
    width: 100%;
    height: auto;
    padding: 20px;
}


/*Menu MEDIA QUERIES*/
/*When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)*/
@media only screen and (max-width: 599px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/*The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)*/
@media only screen and (max-width: 599px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*General media queries*/
@media only screen and (min-width: 1px) and (max-width: 599px) {
    h1 {
        font-size: 1.65rem;
        line-height: 3.47rem;
    }

    .drafts-p3 {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .moodboard-p3 {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .row {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .drafts-p3 {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .moodboard-p3 {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .poster {
        display: none;
    }
    
    .drafts-p3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;
    }
    
    .drafts {
        padding: 20px;
    }
    
    .moodboard-p3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;
    }
    
    .mb1, .mb2 {
padding: 20px;
    }
    
    
.row {
    display: flex;
}

.col {
    flex: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


    /*************Type************/
    h3 {
        text-align: left;
        padding: 20px 20px 20px 20px;
    }

    h4 {
        text-align: left;
    }
}