/*****general*****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}

body {
    text-align: left;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(40 39 64);
    background-color: rgb(230 231 232);
}

/*****headers*****/

h1 {
    margin-top: 50px;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(40 39 64);
    font-size: 50px;
}

h2 {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(218 95 62);
    font-size: 25px;
}

p {
    font-size: 18px;
}

/*****links*****/

/* unvisited link */
a:link {
    color: rgb(40 39 64);
}

/* visited link */
a:visited {
    color: rgb(242 201 22);
}

/* mouse over link */
a:hover {
    color: rgb(218 95 62);
}

/* selected link */
a:active {
    color: rgb(242 201 22);
}

/*****button*****/

#button {
    position: relative;
    padding: 10px 20px;
    background: white;
    color: rgb(40 39 64);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*    top: 30px;*/
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    /*    margin-bottom: 100px;*/
}

#button:hover {
    text-shadow: 2px 2px 5px rgb(40 39 64);
    cursor: pointer;
}

#button:focus {
    background-color: white;
    outline: rgb(40 39 64);
}