/***General Styling***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-pt-condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #191970;                 /*navy blue*/
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}

/***Font Size***/
h3, h4 {
    font-size: 12px;
}

p1, p2, p3, p4 {
    font-size: 10px;
}

/***Vertical Line***/
.vertical-line {
    border-left: thick solid #191970;       /*navy blue*/
    width: 5px;
    height: 1024px;
    position: absolute;
    top: 0px;
    left: 125px;
    z-index: 150;
}

/***Top Section***/
.top-section {
    margin-left: auto;
    margin-right: auto;
    height: 790px;
    width: 768px;
    background-color: #FFFF99;      /*light yellow*/
    display: flex;
    position: relative;
}

.top-background {
    height: 790px;
    width: 100%;
    position: absolute;
    background-color: #FFFF99;      /*light yellow*/
}

.header {
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 0;
}

.letter-container {
/*    width: 491px;*/
    display: flex;
    position: absolute;
    height: 790px;
    width: 648px;
}

h1 {
    font-size: 900px;
    font-weight: normal;
    position: absolute;
    top: -175px;
    left: 200px;
}

.top-left {
    position: relative;
    display: flex;
    height: 790px;
    width: 120px;
}

.vertical-text {
    transform: rotate(270deg);
    font-size: 50px;
    height: 105px;
    width: 877px;
    position: absolute;
    top: 275px;
    left: -1020px;   
}

/***Bottom Section***/
.bottom-section {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 234px;
    background-color: #FFFFFF;      /*white*/
    display: flex;
    position: relative;
}

.name-typeface {
    position: relative;
    display: flex;
    height: 234px;
    width: 120px;
}

h2 {
    position: absolute;
    width: 62px;
    height: 50px;
    top: 28px;
    left: 29px;
}

.analysis {
    position: absolute;
    font-size: 900px;
    font-weight: normal;
    top: -175px;
    left: 200px;
    z-index: 20;
}

#button {
    background-color: #191970;
    color: white;
    border: none;
    text-align: center;
    width: 55px;
    height: 55px;
    display: inline-block;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 275px;
    left: -165px;
    padding: 15px;
    z-index: 30;
}

#button:hover {
    background-color: white;
    color: #191970;
    transition-duration: 0.4s;
    cursor: pointer;
}

.paragraph-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 234px;
    width: 648px;
}

.p1 {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 28px;
    left: 29px;
}

.p2 {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 28px;
    left: 240px;
}

img {
    height: 105px;
    width: 105px;
    position: absolute;
    top: 28px;
    left: 455px;
}

.about {
    position: absolute;
    width: 106px;
    top: 141.5px;
    left: 455px;
}

.vertical-text-sources {
    transform: rotate(-90deg);
    font-size: 8px;
    position: absolute;
    width: 182px;
    height: 60px;
    top: 68px;
    left: 500px;
}