/*****general*****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

body {
    font-family: benton-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

section {
    margin-top: 30px;
}

/*NAV  BAR*/
/*Add a black background color to the top navigation*/
.topnav {
    overflow: hidden;
    background-color: black;
}

/*Style the links inside the navigation bar*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color of links on hover*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Add an active class to highlight the current page*/
.active {
    background-color: black;
    color: white;
}

/*Hide the link that should open and close the topnav on small screens*/
.topnav .icon {
    display: none;
}

/*Type*/
h1 {
    color: black;
font-family: benton-sans, sans-serif;
font-weight: 700;
font-style: normal;
}

h3 {
    color: grey;
    text-transform: uppercase;
font-family: benton-sans-condensed, sans-serif;

font-weight: 400;

font-style: normal;
}

h4 {
    color: blue;
font-family: benton-sans, sans-serif;

font-weight: 100;

font-style: normal;
}

p {
    color: black;
}

img {
    margin-top: 25px;
    padding: 15px 10px;
}

.imgblock {
    position: fixed;
    top: 0;
    left: 100;
    width: 50% auto;
    height: 100%;
    background-color: grey;
    z-index: -100;
    margin-left: 25px;
}

/*Menu MEDIA QUERIES*/
/*When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)*/
@media only screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}


/*The "responsive" class is added to the topnav with JAvaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)*/
@media only screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*General media queries*/
@media only screen and (min-width: 1px) and (max-width: 600px) {
    h1 {
        font-size: 1.65rem;
        line-height: 3.47rem;
    }

    .imgblock {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 959px) {
    .flex-container {
        margin-right: auto;
        height: auto;
        width: 50%;
    }

    .imgcontainer-flex {
        margin-left: auto;
        height: auto;
        width: 50%;
    }

    .content {
        display: none;
    }
}