/*************Text*************/
h1 {
    opacity: 0;
}

/*************Buttons************/
.social {
    display: flex;
    justify-content: center;
}

.inputimg {
    padding: 20px 20px 20px 20px;
}

.inputimg:hover {
    background-color: #ddd;
}

.resume {
    background-color: #337ab7;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    padding: 12px 28px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.resume:hover {
    background-color: #ddd;
    text-decoration: none;
    color: #337ab7;
}

/***********Scroll Arrow**********/
.separator-type,
.title-type,
.intro-type,
.content-type .intro-type p {
    position: relative;
}

.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}

.company-heading h1 {
    margin-bottom: 60px;
    padding-bottom: 50px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: left;
}

.company-heading h3 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    line-height: 40px;
    color: #fff;
    font-weight: 300 !important;
    text-align: left;
}

.jumbo {
    margin-top: 50px;
}

.seo-header,
.product-header,
.intro-type .container h1.white,
.company-heading h1 {
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 55px;
    margin-bottom: 20px;
}

.company-heading h3 {
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 20px;
}

.parallax {
    background-attachment: inherit !important;
}

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
    overflow: hidden;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

img,
figure {
    max-width: 100%;
}

/*************General Media Queries************/
@media only screen and (min-width: 1px) and (max-width: 599px) {
    .parallax-mobile {
        background-attachment: inherit !important;
    }

    .parallax-mobile {
        background-attachment: inherit !important;
        background-repeat: repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index: -10;
        overflow: hidden;
    }


    .resume {
        width: 100%;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .parallax-mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .parallax-mobile {
        display: none;
    }
}